<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Welcome</h2>
        <form action="/verify_password" method="post">
            <label for="passwordInput">Password</label>
            <input type="password" id="passwordInput" name="password" placeholder="input password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
