<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<title>Calculate uv</title>
</head>
<body>


 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='images/windmill.png') }}" alt="Logo" style="height: 100px;">
        <span class="website-name">Sunbird</span>
    </a>
    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('us1') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('us4') }}">Calculate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('us1') }}">About us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



 <br>
 <br>
 <br>
 <br>

<div class="container">
    <div class="row">
        <!-- Form Column -->
        <div class="col-md-6">
            <h2>Calculation Form</h2>
            <!-- Form -->
            <form action="{{ url_for('calculate_sunscreen') }}" method="get" id="calculation_Form">
                <div class="form-group">
                    <label for="input1">Option 1 (Headwear):</label>
                    <select class="form-control" id="input1" name="input1" required>
                        <option value="1">Hat</option>
                        <option value="2">No Hat</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="input2">Option 2 (Topwear):</label>
                    <select class="form-control" id="input2" name="input2" required>
                        <option value="1">Full Sleeve Top</option>
                        <option value="2">Half Sleeve Top</option>
                        <option value="3">Singlet</option>
                        <option value="4">Swimsuit</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="input3">Option 3 (Bottomwear):</label>
                    <select class="form-control" id="input3" name="input3" required>
                        <option value="1">Pants</option>
                        <option value="2">Half Pants</option>
                        <option value="3">Short Skirt</option>
                        <option value="4">Swimsuit</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="input4">Option 4 (UV Index): Enter the current UV index</label>
                    <input type="number" class="form-control" id="input4" name="input4" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Calculate</button>
            </form>
        </div>




            <div class="col-md-6">
    <div class="result-area">
        <h3>Result: <span id="result"></span></h3>
    </div>

    <!-- UV Index Trends Images in a single row -->
    <div class="row mt-3">
        <div class="col-sm-6 pr-2">
            <h4>UV protection link</h4>
            <!-- Image with hyperlink -->
            <a href="https://www.sunsmart.com.au/" target="_blank">
                <img src="{{ url_for('static', filename='images/sun_uv1.png') }}" alt="UV Index Trend 1" style="width: 100%; height: 250px;">
            </a>
        </div>
        <div class="col-sm-6 pl-2">
            <h4>UV protection link</h4>
            <!-- Image with hyperlink -->
            <a href="https://www.cancer.org.au/blog/health-check-what-does-the-uv-index-mean" target="_blank">
                <img src="{{ url_for('static', filename='images/sun_uv2.png') }}" alt="UV Index Trend 2" style="width: 100%; height: 250px;">
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="{{ url_for('static', filename='js/US4.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

